$panelsh-purple-1: #270035;
$panelsh-purple-2: #492955;
$panelsh-purple-3: #52335D;
$panelsh-purple-4: #D4CCD7;
$panelsh-purple-5: #8819C7;
$panelsh-yellow-1: #FFF963;
$panelsh-yellow-2: #FFD800;
$panelsh-yellow-3: #FFE11A;
$panelsh-yellow-4: #FFF3A3;

$panelsh-yellow-gradient: linear-gradient(133.73deg, $panelsh-yellow-1, $panelsh-yellow-2);
