[Unit]
Description=Panelsh WiFi Connect
After=docker.service

[Service]
WorkingDirectory=/home/{{ lookup('env', 'USER') }}/panelsh
User={{ lookup('env', 'USER') }}

ExecStart=bash /home/{{ lookup('env', 'USER') }}/panelsh/start_wifi_connect_service.sh

[Install]
WantedBy=multi-user.target
